.body {
  display: flex;
  justify-content: flex-end; /* Cela place l'avatar à gauche et le pseudo à droite */
  align-items: center; /* Cela aligne verticalement l'avatar et le texte */
  padding: 10px 20px; /* Ajoute un peu de marge intérieure */
  gap: 10px;
  background-color: #020230;
}

.body span {
  font-size: 1.2rem; /* Ajuste la taille du texte du pseudo */
  font-weight: bold; /* Gras pour le pseudo */
}

.body img {
  width: 40px; /* Taille de l'avatar */
  height: 40px;
  object-fit: cover; /* Pour s'assurer que l'image couvre bien le carré sans distorsion */
}
