.modalContent {
  border-radius: 10px;
  padding: 20px;
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.form {
  display: flex;
  flex-direction: column; /* Les éléments sont disposés en colonne */
  align-items: center; /* Centre horizontalement les éléments à l'intérieur du formulaire */
}

.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 30px;
  transition: background-color 0.3s ease; /* Transition douce pour l'effet hover */
}

.btn:hover {
  background-color: #45a049;
}
