.containt {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 150px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.iconProfil {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.iconCircle {
  background-color: red;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileList {
  display: flex;
  gap: 50px;
  margin-top: 100px;
}

.profileItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  width: 200px;
  gap: 20px;
}
