.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.head {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1;
}

.head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/acceuilNitflex.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.head::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.headHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 200px;
  height: 10vh;
  z-index: 1;
}

.btn {
  width: 130px;
  height: 35px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
}

.containerHead {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 1;
}

.btnContai {
  height: 60px;
  width: 150px;
  font-weight: 700;
  font-size: 15px;
  color: white;
  background-color: red;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  z-index: 1;
}

.title {
  font-size: 50px;
  text-align: center;
  z-index: 1;
  padding-bottom: 15px;
}

.title,
.para {
  line-height: 1;
}

.text {
  text-align: center;
  z-index: 1;
  margin-bottom: 10px;
}

.containerBody {
  /* background: linear-gradient(#0d0dc6, #05054b 10%);
  background-color: yellow;*/
  width: 100vw;
  height: 100vh;
}

.tendance {
  height: 100vh;
  background-color: rgba(16, 25, 58, 255);
}
