.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: yellow; */
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh; /* S'assure que la div head prend toute la hauteur */
  width: 100vw;
}

.head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/acceuilNitflex.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.signin {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
  z-index: 1;
  padding: 20px; /* Ajoute un peu de padding pour rendre l'élément plus visible */
  background-color: hsla(0, 9%, 2%, 0.886);
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.btnSignin {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.btnSignin:hover {
  background-color: rgb(112, 6, 6);
}

.signup {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
